@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
/* font-family: 'Exo 2', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth; 
}

html, body {
  background: #000000;
}

textarea{
  resize: none;
}

.wrapper {
  max-width: 1920px;
  padding: 0 60px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
}